export(genomebrowser)
export(genomemap)
export(gbk2genomebrowser)
export(createAssembly)
export(getAssemblyFromFasta)
export(genome_addVCF)
export(genome_addSequence)
export(genome_addGFF)
export(genome_addTrack)
export(segmentation)
export(NCBI36)
export(GRCh37)
export(GRCh38)
export(GRCh37.bands)
export(GRCh38.bands)
importFrom(RSQLite,SQLite)
importFrom(DBI,dbConnect,dbWriteTable,dbSendQuery,dbClearResult,dbDisconnect)
importFrom(stats,complete.cases,aggregate)
importFrom(utils,read.delim)
